In [6]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv("movies_metadata.csv")

/var/folders/bv/4dw469gs2vj3wlsz4vdml9nh0000gn/T/ipykernel_61743/2321092756.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv("movies_metadata.csv")

In [5]:
movies.head()

,original_title,overview
0,Toy Story,"Led by Woody, Andy's toys live happily in his ..."
1,Jumanji,When siblings Judy and Peter discover an encha...
2,Grumpier Old Men,A family wedding reignites the ancient feud be...
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom..."
4,Father of the Bride Part II,Just when George Banks has recovered from his ...

In [4]:
# drop columns
movies = movies[["original_title","overview"]]

In [7]:
# sampling
movies_sample = movies.sample(n=500,random_state=42)

In [8]:
movies_sample.head()

,original_title,overview
43526,Small Crimes,"A disgraced former cop, fresh off a six-year p..."
6383,Up the Sandbox,"A young wife and mother, bored with day-to-day..."
3154,Bad Lieutenant,"While investigating a young nun's rape, a corr..."
10146,Satan's Little Helper,A naïve young boy unknowingly becomes the pawn...
9531,Sitcom,The adventures of an upper-class suburban fami...

In [9]:
movies_sample.to_csv("movies_sample.csv")